.bg-hover:hover {
    background-color: #ededed; /* Change this to your desired hover color */
    transition: background-color 0.6s ease;
    border-radius: 0.25rem; /* Same as Bootstrap's .nav-link.active */
}
