{% load wagtailcore_tags wagtailuserbar %}

<header class="border-bottom py-3 mb-4">
  <img src="/static/images/msl-web-header.svg" class="img-fluid mx-auto d-block" alt="Moravskoslezská liga v PÚ">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Aktuality</a>
    </li>
    <li class="nav-item">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">O MS lize</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Historie</a></li>
        <li><a class="dropdown-item" href="#">Bodové a finanční ohodnocení</a></li>
      <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Účastníci</a></li>
        <li><a class="dropdown-item" href="#">Ligová kola</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Přihláška</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Dokumenty</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Výsledky</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Tipování</a>
    </li>
  </ul>

  {% wagtailuserbar "top-right" %}
</header>
