{% load wagtailcore_tags wagtailuserbar navigation_tags util_tags%}

<header class="border-bottom py-3 mb-4">
  {% get_site_root as site_root %}
  <a href="{% pageurl site_root %}">
    <img src="/static/images/msl-web-header-narrow.svg" class="img-fluid mx-auto d-block" alt="Moravskoslezská liga v PÚ">
  </a>

  <ul class="nav nav-pills justify-content-center">
    {% for menuitem in site_root.get_children.live.in_menu %}
    {% is_msl_about_page menuitem.specific as is_msl_about_page %}
      {% if is_msl_about_page %}
         <li class="nav-item">
            <a class="nav-link dropdown-toggle {% if menuitem.url in request.path %}active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
              {{ menuitem.title }} {# TODO: better to not have this hardcoded here  #}
            </a>
            <ul class="dropdown-menu">
              {% for msl_about_item in menuitem.get_children.live.in_menu %}
                <li><a class="dropdown-item" href="{% pageurl msl_about_item %}">{{ msl_about_item.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
      {% else %}
        <li class="nav-item bg-hover">
          <a
            class="nav-link {% if request.path == menuitem.url %}active{% endif %}"
            aria-current="page" 
            href="{% pageurl menuitem %}"
          >{{ menuitem.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="nav-item">
      <a class="nav-link" href="#">Dokumenty</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Výsledky</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Tipování</a>
    </li>
  </ul>

  {% wagtailuserbar "top-right" %}
</header>
