{% load wagtailcore_tags %}

{% block content %}

<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text text-center">Nové stránky jsou právě v rekonstrukci, prosíme o strpení!</p>
            <p class="card-text text-center">Prozatím můžete navštívit starou verzi stránek pod tímto odkazem:</p>
            <p class="card-text text-center"><a href="http://old.msliga.info" target="_blank">http://old.msliga.info</a></p>
        </div>
    </div>
</div>

{% endblock %}
